.rc {
  width: 40px;
  height: 40px;
}


.spn {
  width: 3rem;
  height: 3rem;

}

.shw-1 {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table,
thead,
tr,
th {
  text-align: center;
}

.wd {
  width: 1000px;
}


.srcfile {
  margin: 5px 0px 5px 12px;
  width: 140px;
  height: 110px;
  border-radius: 3px;
  border: 5px solid rgb(85, 177, 247);
}

.bg-red {
  background-color: rgb(221, 53, 106);
  color: white;
}

.bg-red:hover {
  color: white;
}

.bg-green {
  background-color: rgb(69, 207, 117);
  color: white;
}

.bg-blue {
  background-color: rgb(107, 63, 173);
}

.img-200 {
  width: 200px;
  height: 200px;
  border: 10px solid #92d1f8;
}

.img-size {
  width: 30px;
  height: 20px;
}